@import "@styles/_functions/icon";

.wrap{
  width: 100%;
  .inner{
    .item_list_wrap{
      padding-top:20px;
      width: 100%;
      --card-count: 4;

      .category_list{
        .list_tab{
          display: flex;
          button{
            transition: all 0.3s;
            display: flex;
            align-items: center;
            margin-right: 10px;
            i{
              font-style: normal;
            }
            
            span{
              font-size: 14px;
              margin-left:4px;
            }
            &:hover, &.on{
              font-weight: bold;
              font-size: 16px;
            }

            &::after{
              content: "";
              display: block;
              margin-left:10px;
              width: 1px;
              height: 12px;
              background-color: #696868;
              transform: skewX(-15deg);
            }

            &:last-child{
              &::after{
                display: none;
              }
            }
          }

        }
        
      }
      .item_list_grid{
        margin-top:20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(var(--card-count), 1fr);
        gap:16px;
        
        li{
          border-radius: 4px;
          box-shadow: 4px 4px 12px 0 rgba(95, 93, 93, 0.2);
          overflow: hidden;
          transition: all 0.3s;
          &:hover{
            transform: translateY(-2px);
          }
          a{
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 180px;
            padding:10px 12px;
            overflow: hidden;

            .item_header{
              height: auto;
              overflow: hidden;
  
              .item_title{
                display: block;
                font-weight: bold;
                font-size: 24px;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
  
            .item_body{
              margin-top:10px;
              min-height: 160px;
              .cap{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 14px;
                padding-bottom:6px;
                border-bottom:1px solid #ddd;

                i{
                  display: block;
                  width: 20px;
                  height: 20px;
                  background: icon(summary);
                  margin-right: 2px;
                }
              }
              .summary_calendar{
                position: relative;
                padding:8px;
                height: 100px;
                max-height: 100px;
                border-radius: 4px;
                .day_number{
                  font-size: 12px;
                  display: flex;
                  justify-content: flex-end;
                }
          
                .history_item{
                  margin-top:10px;
          
                  .text{
                    width: 100%;

                    &::after{
                      content: '...';
                      display: block;
                      margin-top: 4px;
                    }
                    span{
                      font-size: 14px;
                      margin-right:4px;
                    }
                  }
            
                }
              }
              .summary{
   
                padding:10px 0;
   
                  span{
                    font-size: 14px;
                    margin-right:6px;

                    &::after{
                      content: ',';
                      font-size: 10px;
                    }

                    &:last-child{
                      &::after{
                        content: '';
                      }
                    }
                  }
              }
              
            }
  
            .item_bottom{
              border-top: 1px solid #ddd;
              padding-top:10px;
              span{

                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                &.creator{
                  font-size: 14px;
                  display: flex;
                  align-items: center;
                  i{
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: icon(userCreator);
                  }
                }
                &.from_date{
                  margin-top:4px;
                  font-size: 12px;
                  
                  i{
                    display: block;
                    width: 14px;
                    height: 14px;
                    background: icon(clock);
                    margin-right: 2px;
                  }
                }
                
                &.new{
                  i{
                    display: none;
                  }
                  &::before{
                    content: "";
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: red;
                    margin-right:4px;
                  }
                }
              }
              
            }
          }

         
          img{
            width: 100%;
          }
        }

        .loading_item{
          padding:10px;
          .item_header{
            height: auto;
            overflow: hidden;

            .item_title{
              display: flex;
              i{
                font-style: normal;
              }
              span{
                background: #d4d4d4;
                color:#d4d4d4;
                border-radius: 4px;
                margin-left:5px;
              }
            }
          }

          .item_body{
            margin-top:10px;
            min-height: 160px;
            .cap{
              display: flex;
              justify-content: flex-end;
              align-items: center;
              border-bottom:1px solid #ddd;
              
              i{
                display: block;
                width: 20px;
                height: 20px;
                background: icon(summary);
                margin-right: 2px;
              }
              
              span{
                
                border-radius: 4px;
              }
            }
       
            .summary{
              padding:10px 0;
              span{
                font-size: 14px;
                margin-right:6px;
                background: #d4d4d4;
                color:#d4d4d4;
                border-radius: 4px;
                &::after{
                  content: ',';
                  font-size: 10px;
                }

                &:last-child{
                  &::after{
                    content: '';
                  }
                }
              }
            }
            
          }

          .item_bottom{
            border-top: 1px solid #ddd;
            padding-top:10px;
            span{
              display: flex;
              align-items: center;
              justify-content: flex-end;
              height: 100%;
            
              &.creator{
                font-size: 14px;
                display: flex;
                align-items: center;
                i{
                  display: block;
                  width: 20px;
                  height: 20px;
                  background: icon(userCreator);
                }
                span{
                  background: #d4d4d4;
                  color:#d4d4d4;
                  border-radius: 4px;
                }
              }
              &.from_date{
                margin-top:4px;
                font-size: 12px;
                
                i{
                  display: block;
                  width: 14px;
                  height: 14px;
                  background: icon(clock);
                  margin-right: 2px;
                }
                span{
                  background: #d4d4d4;
                  color:#d4d4d4;
                  border-radius: 4px;
                }
              }
              
              &.new{
                i{
                  display: none;
                }
                &::before{
                  content: "";
                  display: block;
                  width: 5px;
                  height: 5px;
                  border-radius: 50%;
                  background: red;
                  margin-right:4px;
                }
              }
            }
            
          }
        }
      }
    }

    .empty{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      padding:10px 0;
    }

  }
}

@media (max-width: 950px) {
  .wrap{
    width: 100%;
  
    .inner{
      .item_list_wrap{
        width: 100%;
        --card-count: 2;
  
        .item_list_grid{
          margin-top:10px;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(var(--card-count), 1fr);
          gap:8px;
          
          li{
            border-radius: 4px;
            box-shadow: 4px 4px 12px 0 rgba(95, 93, 93, 0.2);
            overflow: hidden;
          
            a{
              display: flex;
              flex-direction: column;
              min-height: 180px;
              padding:10px 12px;
              overflow: hidden;
  
              .item_header{
                width: 100%;
                overflow: hidden;
    
                .item_title{
                  display: block;
                  font-weight: bold;
                  font-size: 24px;
                  width: 100%;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
    
                }
              }
    
              .item_body{
                .cap{
                  font-size: 14px;
                  text-align: right;
                  margin-bottom:6px;
                }
                .summary_calendar{
                  position: relative;
                  padding:5px;
                  border:1px solid #ddd;
    
                  .day_number{
                    font-size: 12px;
                    display: flex;
                    justify-content: flex-end;
                    transition: 0.1s;
                  }
            
                  .history_item{
                    margin-top:10px;
            
                    .text{
                      width: 100%;
                      text-align: right;
                      span{
                        font-size: 14px;
                        margin-right:4px;
                        
                      }
                    }
              
                  }
                }
              }
    
              .item_bottom{
                margin-top:10px;
                span{
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  &.from_date{
                    font-size: 12px;
                  }
                  
                  &.new{
                    &::before{
                      content: "";
                      display: block;
                      width: 5px;
                      height: 5px;
                      border-radius: 50%;
                      background: red;
                      margin-right:4px;
                    }
                  }
                }
                
              }
            }
           
            img{
              width: 100%;
            }
          }
        }
      }
  
      .empty{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding:10px 0;
      }
  
    }
  }
}

@media (max-width: 460px) {
  .wrap{
    width: 100%;
  
    .inner{
      .item_list_wrap{
        width: 100%;
        --card-count:1;
  
        .item_list_grid{
          margin-top:10px;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(var(--card-count), 1fr);
          gap:8px;
          
          li{
            border-radius: 4px;
            box-shadow: 4px 4px 12px 0 rgba(95, 93, 93, 0.2);
            overflow: hidden;
          
            a{
              display: flex;
              flex-direction: column;
              min-height: 180px;
              padding:10px 12px;
              overflow: hidden;
  
              .item_header{
                width: 100%;
                overflow: hidden;
    
                .item_title{
                  display: block;
                  font-weight: bold;
                  font-size: 24px;
                  width: 100%;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
    
                }
              }
    
              .item_body{
                .cap{
                  font-size: 14px;
                  text-align: right;
                  margin-bottom:6px;
                }
                .summary_calendar{
                  position: relative;
                  padding:5px;
                  border:1px solid #ddd;
    
                  .day_number{
                    font-size: 12px;
                    display: flex;
                    justify-content: flex-end;
                    transition: 0.1s;
                  }
            
                  .history_item{
                    margin-top:10px;
            
                    .text{
                      width: 100%;
                      text-align: right;
                      span{
                        font-size: 14px;
                        margin-right:4px;
                        
                      }
                    }
              
                  }
                }
              }
    
              .item_bottom{
                margin-top:10px;
                span{
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  &.from_date{
                    font-size: 12px;
                  }
                  
                  &.new{
                    &::before{
                      content: "";
                      display: block;
                      width: 5px;
                      height: 5px;
                      border-radius: 50%;
                      background: red;
                      margin-right:4px;
                    }
                  }
                }
                
              }
            }
           
            img{
              width: 100%;
            }
          }
        }
      }
  
      .empty{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding:10px 0;
      }
  
    }
  }
}