.wrap{
  padding:20px;

  div{
    margin-bottom:20px;
    font-weight: 300;
    h1{
      margin-bottom:10px;
      font-size: 24px;
    }

    p, ul li{
      line-height: 2;
      font-size: 16px;
    }
  }
}