.footer{
  position: relative;
  width: 100%;
  border-top: 1px solid #ddd;
  .inner{
    margin:0 auto;
    max-width: var(--page-max-width);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 24px;
    ul{
      display: flex;
      li{
        margin-right: 12px;
        font-size: 12px;
        color: #464343;
        cursor: pointer;
        font-weight: bold;
        &:hover{
          text-decoration: underline;
        }

        &::after{
          content: "";
          display: inline-block;
          width: 1px;
          height: 10px;
          background: #ccc;
          margin-left: 12px;
        }

        &:last-child{
          margin-right: 0;
          font-weight: bold;
          &::after{
            display: none;
          }
        }
      }
    }
  }
}
