#root{
  height: 100%;
  .container {
    position: relative;
    max-width: var(--page-max-width);
    min-height: max(calc(100vh - var(--header-height)), 400px);
    margin: 0 auto;
    padding: 0 24px;
  }
}

@media (max-width: 950px) {
  #root{
    height: 100%;
    .container {
      padding: 0 12px;
    }
  }
}