@import "@styles/_functions/icon";

.nav{
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h1 {
    color: #111;
    font-size: 16px;
  }

  button{
    padding:2px;
    border-radius: 2px;
    font-size: 12px;
    transition: 0.2s;
    display: flex;

    align-items: center;
    line-height: 2px;

    i{
      display: block;
      width: 20px;
      height: 20px;
      background: icon(back);
    }

    &:hover{
      transform: translateX(-2px);
    }
  }
}
