@import "@styles/_functions/icon";

.wrap{
  position: relative;
  padding-bottom: 100px;

  .calendar_wrap{
    .set_title{
      position: relative;
      margin-top:30px;
    
      input{
        width: 100%;
        font-size: 24px;
        padding:0 0 10px 0;
        background: none;
        border-bottom:1px solid #ddd;
        transition: 0.3s;
        &:focus{
          font-size: 26px;
          border-bottom:1px solid #111;
        }
      }
      
    }
    
    .calendar{
      margin-top:20px;
      position: relative;
      padding:20px 0 0;
    
      .calendar_header{
        display: flex;
        align-items: center;
        h1{
          font-size: 32px;
          width: min-content;
          min-width: 140px;
          white-space: nowrap;
        }
        .button_box{
          margin-left:10px;
          
          button{
            transition: 0.3s;
            @media (hover: hover){
              &:hover{
                transform: translateX(4px);
              }
            }
          }
          
          .prev{
            margin-right:10px;

            i{
              display: block;
              width: 20px;
              height: 20px;
              background: icon(next);
              margin-right: 2px;
              transform: rotate(180deg);
            }
            @media (hover: hover){
              &:hover{
                transform: translateX(-4px);
              }
            }
          }
          
          .next{
            margin-right:10px;

            i{
              display: block;
              width: 20px;
              height: 20px;
              background: icon(next);
              margin-right: 2px;
            }
          }
        }
      }
    
      .summary_list{
        margin-top:14px;
        padding-bottom: 10px;
    
        .title{
          font-size: 16px;
          color: rgb(252, 51, 61);
        }
  
        .item_list {
          margin-top:10px;
          li {
            margin-top: 4px;
            height: 24px;
            overflow: hidden;
            transition: all 0.3s;
            cursor: pointer;
  
            &.on {
              height: auto;
            }
  
            .group_name {
              display: flex;
              align-items: center;
  
              span {
                font-size: 16px;
                color: #222;
                margin-right: 6px;
              }
  
              button {
                width: 12px;
                height: 9px;
                background: icon(arrowDown);
                background-size: cover;
              }
            }
  
            .detail_list {
              margin-top: 8px;
              margin-bottom: 12px;
              padding-bottom: 6px;
              border-bottom: 1px solid #ddd;
              display: flex;
              
              .indent_area{
                i{
                  display: block;
                  width: 20px;
                  height: 20px;
                  background: icon(enter);
                  margin-right: 2px;
                }
              }
              div.list{
                margin-left:2px;
                span {
                  font-size: 14px;
                  color: #222;
                  margin-right: 6px;
                }
              }
              
            }
  
          }
        }
      }
      
      .calendar_scroll_with{
        .calendar_days{
          display: flex;
          margin-top:20px;
          li{
            border-bottom:1px solid #ccc;
            width: calc((100% / 7));
            padding:10px;
            text-align: center;
            margin-right:5px;
      
            &:first-child{
              color: rgb(235, 15, 26);
              border-bottom:1px solid rgb(235, 15, 26);
            }
            
            &:last-child{
              color: rgb(22, 183, 247);
              border-bottom:1px solid rgb(22, 183, 247);
            }
          }
        }
      
        .calendar_date{
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          margin-top:5px;
          > div{
            position: relative;
            padding:10px;
            min-height: 80px;
            border-right:1px solid #ddd;
            border-bottom:1px solid #ddd;
            cursor: pointer;
            &:nth-child(-n+7){
              border-top: 1px solid #ddd;
            }
            &:nth-child(7n){
              background: rgb(129, 215, 221, 0.3);
            }
            &:nth-child(7n+1){
              background: rgb(255, 227, 227);
              border-left: 1px solid #ddd;
            }
      
            &:hover {
              .day_number{
                transform: translateY(-2px);
                color:crimson;
              }
            }
            .day_number{
              font-size: 12px;
              display: flex;
              justify-content: flex-end;
              transition: 0.1s;
            }
      
            .history_item{
              display: flex;
              flex-direction: column;
              margin-top:10px;

              &:hover{
                font-weight: bold;
              }
              .key{
                font-size:12px;
                color:skyblue;
                font-weight: bold;
              }
              .value{
                margin-top: 4px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                span{
                  font-size: 14px;
                  margin-right:4px;         
                }

                .delete{
                  width: 100%;
                  display: flex;
                  justify-content: flex-end;
                  i{
                    display: block;
                    text-indent: 100%;
                    overflow: hidden;
                    width: 20px;
                    height: 20px;
                    background: icon(eraser);
                    transition: all 0.3s;
                    &:hover{
                      transform: translateY(-1px);
                    }
                  }
                }
              }

             
            }
          }
      
          > p{
            border-bottom: 1px solid #ddd;
            &:last-of-type{
              border-right:1px solid #ddd;
            }
          }
      
          .able{
            position: relative;
          }
        }
      }   
    
      .edit_box{
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background:rgba(0, 0, 0, 0.5);
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
        overflow-y: auto;
    
        .inner{
          margin:auto 0;
          width: 100%;
          max-width: 500px;
          padding:10px;
          background: #fff;
          border-radius: 4px;
          h1{
            font-size: 14px;
            color:rgb(223, 42, 42);
            font-weight: 400;
            text-align: right;
          }
          dl{
            display: flex;
            flex-direction: column;
            margin-top:16px;
            dt{
              font-size: 16px;
              color:rgb(90, 95, 95);
              margin-right:6px;
            }
    
            dd{
              margin-top:6px;
          
              input{
                font-size: 16px;
                color:#222;
                border-bottom: 1px solid #eee;
                padding:2px 0;
                width: 100%;
                transition: 0.3s;
                
                &::placeholder{
                  color: #ccc;
                  font-size: 16px;
                transition: 0.3s;
    
                }
    
                &:focus{
                  font-size: 24px;
                  
                &::placeholder{
                  font-size: 24px;
                }
                }
              }
            }
          }
    
          .button_box{
            margin-top: 40px;
            display: flex;
            button{
              width: 50%;
              padding:5px;
              margin-right:2px;
              border-radius: 4px;
              transition: 0.3s;
              &:hover{
                transform: translateY(-2px);
              }
              &:first-child{
                background: #242442;
                color: #fff;
              }
              &:last-child{
                background: #6f7a81;
                color: #fff;
              }
            }
          }
        }
      }
    }
    
  }
  
  .option{
    margin-top:10px;
    .open{
      display: flex;
      align-items: center;
      cursor: pointer;
      input[type="checkbox"]{
        position: absolute;
        width: 1px;
        height: 1px;
        visibility: hidden;

        &:checked ~ i{
          border:1px solid #111;
          &::before{
            content: '✔️';
            display: block;
            font-size: 12px;
          }
        }
      }

      i{
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid #8a8787;
        border-radius: 2px;
        width: 18px;
        height: 18px;
        margin-right: 4px;
      }
      
      span{
        font-size: 14px;
      }
    }
  }

  .button_wrap{
    display: flex;
    justify-content: center;
    margin-top:20px;
  
    button{
      padding:8px 16px;
      font-size: 16px;
      border-radius: 4px;
      box-shadow: 2px 2px 6px #999;
      background: #242442;
      transition: all 0.3s;
      margin-right:10px;
      color:#fff;
      display: flex;
      align-items: center;

      svg{
        margin-right:4px;
      }
      
      &:last-child{
        margin-right: 0;
      }
      &:hover {
        transform: translateY(-2px);
      }
    }

    .confirm{

      i{
        display: block;
        width: 20px;
        height: 20px;
        background: icon(confirm);
        margin-right: 6px;
      }
      &:hover{
        background: #111;
      }
    }
    .cancel{
      background: #6f7a81;
      i{
        display: block;
        width: 20px;
        height: 20px;
        background: icon(closeWhite);
      }
    }

    
    .capture{
      background: rgb(0, 174, 255, 1);
      i{
        display: block;
        width: 20px;
        height: 20px;
        background: icon(download);
        margin-right: 6px;
      }
      &:hover{
        background: rgb(0, 174, 255, 0.9);
      }
    }

    .edit{
      background: rgb(84, 9, 182);
      i{
        display: block;
        width: 20px;
        height: 20px;
        background: icon(edit);
        margin-right: 2px;
      }
    }

    .delete{
      background: rgb(252, 51, 61);
      i{
        display: block;
        width: 20px;
        height: 20px;
        background: icon(deleteWhite);
      }
    }
  }
  
}

@media (max-width: 950px) {
  .wrap{
    position: relative;
    width: 100%;
    .calendar_wrap{
      margin:0 auto;
      width: 100%;

      .set_title{
        position: relative;
        margin-top:20px;
      
        span{
          font-size: 24px;
          background: none;
          transition: 0.3s;
          font-weight: bold;
        }
      }
      
      .calendar{
        margin-top:1px;
        position: relative;
        padding:20px 0;

        // &:hover{
        //   box-shadow: 2px 2px 8px #111;
        // }
      
        .calendar_header{
          display: flex;
          align-items: center;
          h1{
            font-size: 24px;
            width: min-content;
            min-width: 110px;
            white-space: nowrap;
          }
        }
      
        .summary_list{
          margin-top:14px;
          padding-bottom: 10px;
      
          .title{
            font-size: 12px;
            color: rgb(252, 51, 61);
          }
    
          .item_list {
    
            li {
              margin-top: 8px;
              height: 24px;
              overflow: hidden;
              transition: all 0.3s;
              cursor: pointer;
    
              &.on {
                height: auto;
              }
    
              .group_name {
                display: flex;
                align-items: center;
    
                span {
                  font-size: 14px;
                  color: #222;
                  margin-right: 6px;
                }
    
                button {
                  width: 12px;
                  height: 9px;
                  background: icon(arrowDown);
                  background-size: cover;
                }
              }
    
              .detail_list {
                margin-top: 8px;
                margin-bottom: 12px;
                padding-bottom: 6px;
                border-bottom: 1px solid #ddd;
                display: flex;
                
                div.list{
                  margin-left:2px;
                  span {
                    font-size: 14px;
                    color: #222;
                    margin-right: 6px;
                  }
                }
                
              }
    
            }
          }
        }
      
        .calendar_scroll_with{
          position: relative;
          width: 100%;
          overflow-x: auto;
          padding:5px;
          .calendar_days{
            display: flex;
            margin-top:20px;
            min-width: 600px;
            li{
              border-bottom:1px solid #ccc;
              width: calc((100% / 7));
              padding:10px;
              text-align: center;
              margin-right:5px;
        
              &:first-child{
                color: rgb(235, 15, 26);
                border-bottom:1px solid rgb(235, 15, 26);
              }
              
              &:last-child{
                color: rgb(22, 183, 247);
                border-bottom:1px solid rgb(22, 183, 247);
              }
            }
          }
        
          .calendar_date{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin-top:5px;
            min-width: 600px;

            > div{
              position: relative;
              padding:10px;
              min-height: 80px;
              border-right:1px solid #ddd;
              border-bottom:1px solid #ddd;
              cursor: pointer;
              &:nth-child(-n+7){
                border-top: 1px solid #ddd;
              }
              &:nth-child(7n){
                background: rgb(129, 215, 221, 0.3);
              }
              &:nth-child(7n+1){
                background: rgb(255, 227, 227);
                border-left: 1px solid #ddd;
              }
        
              &:hover {
                .day_number{
                  transform: translateY(-2px);
                }
              }
              .day_number{
                font-size: 12px;
                display: flex;
                justify-content: flex-end;
                transition: 0.1s;
              }
        
              .history_item{
                display: flex;
                flex-direction: column;
                margin-top:10px;
        
                .key{
                  font-size:12px;
                  color:skyblue;
                  font-weight: bold;
                }
                .value{
                  margin-top: 4px;
                  width: 100%;
                  display: flex;
                  flex-wrap: wrap;
                  span{
                    font-size: 14px;
                    margin-right:4px;         
                  }
                }
              }
            }
        
            > p{
              border-bottom: 1px solid #ddd;
              &:last-of-type{
                border-right:1px solid #ddd;
              }
            }
        
            .able{
              position: relative;
            }
          }
        }   
  
      }
    }
    
    .option{
      margin-top:0px;
      .open{
        display: flex;
        align-items: center;
        cursor: pointer;
        input[type="checkbox"]{
          position: absolute;
          width: 1px;
          height: 1px;
          visibility: hidden;
  
          &:checked ~ i{
            border:1px solid #111;
            &::before{
              content: '✔️';
              display: block;
              font-size: 12px;
            }
          }
        }
  
        i{
          font-style: normal;
          display: flex;
          align-items: center;
          justify-content: center;
          border:1px solid #8a8787;
          border-radius: 2px;
          width: 18px;
          height: 18px;
          margin-right: 4px;
        }
        
        span{
          font-size: 14px;
        }
      }
    }

    .button_wrap{
      display: flex;
      flex-wrap: wrap;
      margin-top:20px;
      padding-bottom: 10px;
      button{
        width: min-content;
        padding:8px 16px;
        font-size: 12px;
        border-radius: 4px;
        box-shadow: 2px 2px 6px #999;
        background: #242442;
        transition: all 0.3s;
        margin-right:10px;
        color:#fff;
        margin-bottom:8px;
        &:last-child{
          margin-right: auto;
        }
        &:hover {
          color: #fff;
          transform: translateY(-2px);
        }
      }
    }
  }
}