.wrap {

  .admin_login{
    position: relative;
    border-radius: 6px;
    padding: 10px 10px 40px; 
    // background: #fcf9e1;
    border: 1px solid #979797;
    box-shadow: 2px 2px 6px #999;
    margin-top: 20px;
    max-width: 750px;
    margin:20px auto;
    label{
      margin-right:20px;
      input{
        border:1px solid #ddd;
        height: 30px;
        margin-left:5px;
      }
      
    }
    button{
      padding:8px 16px ;
      font-size: 12px;
      border-radius: 6px;
      border: 1px solid #979797;
      box-shadow: 2px 2px 6px #999;

      &:hover {
        background: #242442;
        color: #fff;
      }
    }
    
  }
  .inner {
    position: relative;
    padding: 0 10px;
    max-width: 974px;
    margin: 0 auto;

    > div {
      position: relative;
      border-radius: 6px;
      padding: 10px 10px 40px; 
      // background: #fcf9e1;
      border: 1px solid #979797;
      box-shadow: 2px 2px 6px #999;
      margin-top: 20px;

      h2 {
        border-bottom: 2px solid #ddd;
        padding: 0 0 10px 0;
        margin-bottom: 15px;
        color: #111;
      }

    }

    .admin_status{
      .nickname_change{
        margin-top:10px;
        input{
          margin:0 10px;
          border-bottom: 1px solid #ddd;
        }
  
        button{
          padding:4px 8px ;
          font-size: 12px;
          border-radius: 2px;
          border: 1px solid #979797;
          box-shadow: 2px 2px 6px #999;
    
          &:hover {
            background: #242442;
            color: #fff;
          }
        }
      }
     
    }
    .total_room{

      .total_list{
        max-height: 400px;
        overflow-y: auto;
      }
    }

    .total_message{
      .total_list{
        max-height: 400px;
        overflow-y: auto;

        li{
          margin-bottom: 6px;
          cursor: pointer;
          span{
            margin-right:10px;
          }
        }
      }
    }
    .total_support{
      ul{
        .list_data{
          margin-bottom: 10px;
          padding:10px 0;
          border-bottom:1px solid #ddd;
          .meta{
            > div{
              margin-bottom: 4px;
              font-size: 14px;

              .answer_status{
                color:crimson;
                margin-left:8px;
              }
            }
            .inquiry > pre{
              margin-top:4px;
              background: #ddd;
              padding:10px;
              border-radius: 4px;
            }

            .answer > pre{
              margin-top:4px;
              background: #ddd;
              padding:10px;
              border-radius: 4px;
            }
          }

          .answer_button{
            margin-top:10px;
            padding:4px 8px ;
            font-size: 14px;
            border-radius: 4px;
            border: 1px solid #979797;
            box-shadow: 2px 2px 6px #999;
    
            &:hover {
              background: #242442;
              color: #fff;
            }
          }
          .answer_create{
            width: 100%;
            border:1px solid #ddd;
            margin-top:10px;
            textarea{
              position: relative;
              width: 100%;
              min-height: 100px;
              padding:10px;
              font-size: 16px;
              color: #555;
            }

            .button_box{
              display: flex;
              justify-content: center;
              margin:20px 0;
        
              button{
                padding:8px 16px ;
                font-size: 16px;
                border-radius: 6px;
                border: 1px solid #979797;
                box-shadow: 2px 2px 6px #999;
        
                &:hover {
                  background: #242442;
                  color: #fff;
                }
              }
              .confirm{
                margin-right:10px;
              }
            }
          }
        }
      }
    }
   
  }
}

@media (max-width: 950px) {


}