
.wrap{
  position: relative;

  .inner{
    margin:0 auto;

    .set_title{
      position: relative;
      margin-top:20px;
    
      span{
        display: block;
        width: 100%;
        font-size: 40px;
        font-weight: bold;
        background: none;
      }
    }
  }
} 
