.wrap{
  
  .inner{
    padding: 20px 0;
    max-width: 1024px;
    margin: 0 auto;
    
    div.box{
      margin-top: 10px;
      position: relative;
      border-radius: 6px;
      border: 1px solid #979797;
      box-shadow: 4px 2px 8px #999;

      &:hover{
        box-shadow: 4px 2px 8px #242442;
      }
    }

    .content{
      position: relative;
      width: 100%;
      height: min(calc(100vh - 400px), 800px);
      border-bottom:1px solid #ddd;
      overflow-y: auto;
    }

    .button_box{
      display: flex;
      justify-content: center;
      margin-top:20px;

      button{
        padding:8px 16px ;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid #979797;
        box-shadow: 2px 2px 6px #999;

        &:hover {
          background: #242442;
          color: #fff;
        }
      }
      .confirm{
        margin-right:10px;
      }
    }
  }
}