@import "#styles/_functions/icon";

.wrap {

  .inner {
    position: relative;
    padding: 20px 0 60px;
    margin: 0 auto;

    .box{
      position: relative;
      border-radius: 4px;
      padding: 10px 10px 40px; 
      // background: #fcf9e1;
      box-shadow: 2px 2px 6px #999;
      margin-top: 20px;

      h2 {
        border-bottom: 2px solid #ddd;
        padding: 0 0 10px 0;
        margin-bottom: 15px;
        color: #111;
      }
    }
    
    .my_item{
      h2{
        display: flex;
        align-items: center;
        i{
          display: block;
          width: 24px;
          height: 24px;
          background: icon(cart);
          margin-right: 6px;
        }
      }
      ul li{
        font-size: 14px;
        border-bottom:1px solid #eee;
        padding:0 0 10px 0;
        display: flex;
        align-items: center;

        i{
          display: block;
          width: 24px;
          height: 24px;
          background: icon(exchange);
          margin-right: 6px;
        }
      }
    }
    .button_box{
      position: relative;
      margin:10px 0;
      button{
        font-size: 12px;
        color:#666;
        border:1px solid #a0a0a0;
        padding:5px 10px;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #999;
        margin-right:10px;
        &:hover{
          color: #fff;
          background: #242442;
        }
      }
    }
   
    .password_check {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      .inner {
        position: relative;
        background: #fff;
        width: 100%;
        max-width: 380px;
        min-height: 200px;
        padding: 40px 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px #242424;
    
        .message{
          text-align: center;
          line-height: 1.4;
          span{
            font-size: 14px;
          
          }

          input{
            border-bottom:1px solid #ccc;
            margin-top:10px;
            text-align: center;
          }
        }
    
        .button_box {
          width: 100%;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          padding:20px 0 0;
          button {
            padding: 5px 10px;
            border: 1px solid #242442;
            font-size: 14px;
            margin-left: 10px;
            box-shadow: 1px 1px 1px #999;
            border-radius: 4px;
            &:first-child {
              margin-left: 0;
            }
    
            &:hover {
              background: #242442;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
