@import "../../styles/_functions/icon";

.user_status{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  > button{
    transition: all 0.1s;
    &:hover {
      transform: translateY(-1px);
    }
  }

  .user{
    i{
      display: block;
      width: 24px;
      height: 24px;
      background: icon(user);
    }
  }

  
  .login{
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
  }


  aside{
    position: absolute;
    top:-10px;
    right: 0;
    width: 320px;
    display: flex;
    justify-content: center;
    overflow: auto;
    background-color: #fdfdfd;
    z-index: 10;
    border:1px solid #ccc;

  }
}