.wrap{
  position: absolute;
  top:30px;
  right: 0;
  width: 300px;
  background-color: #fdfdfd;
  z-index: 12;
  border:1px solid #ccc;
  padding:10px 10px 20px;

  .title{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding:0px 0 0px;
    border-bottom:1px solid #eee;
    .nickname{
      font-weight: bold;
      padding-bottom:10px;
      font-size: 24px;
      
      &:hover{
        color:#6615c4;
      }
    }

    .cancel{
      border:1px solid #ddd;
      font-size: 12px;
      font-weight: bold;
      width: 24px;
      height: 24px;
      background: linear-gradient(-180deg, rgba(255, 255, 255, 0.09) 0%, rgba(17, 17, 17, 0.04) 100%);
      display: flex;
      align-items: center;
      justify-content:center;
      &::before{
        content: "";
        display: block;
        background-image: url('../../public/8373819.png');
        background-size: 100% 100%;
        width: 24px;
        height: 24px;
      }
      &:hover {
        background: #fff;
        border-bottom:1px solid #7c25df;
      }
    }
  }

  .bridge{
    padding:5px 0 10px;
    div{
      display: flex;
      padding: 5px;
      border-bottom: 1px solid #f1f1f1;

      .mypage{
        color:#777;
        font-size: 14px;
        white-space: nowrap;
        display: flex;
        align-items: center;

        &::before{
          content: "";
          display: block;
          background-image: url('../../public/848006.png');
          background-size: 100%;
          width: 24px;
          height: 24px;
          margin-right:6px;
        }

        &:hover{
          color:#7c25df
        }
      }

      .market{
        color:#777;
        font-size: 14px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        opacity: 0.3;
        pointer-events: none;
        
        &::before{
          content: "";
          display: block;
          background-image: url('../../public/8903190.png');
          background-size: 100%;
          width: 24px;
          height: 24px;
          margin-right:6px;

        }
      }
    }
  }

  .message_list{
    max-height: 300px;
    overflow-y: auto;

    > div{
      width: 100%;
      padding:5px 10px;
      border:1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 5px;

      &:last-child{
      margin-bottom: 0;

      }
      .room_title{
        position: relative;
        font-size: 12px;
        color:#666;
        padding:0 0 3px 0;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .delete{
          font-size: 12px;
          display: flex;

          &:hover{
            color: #7c25df;
          }
          &::after{
            content: "";
            display: block;
            background-image: url('../../public/7078010.png');
            background-size: 100%;
            width: 14px;
            height: 14px;
            margin-left:2px;
          }
        }
      }

      .message{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding:8px 0;
        cursor: pointer;
        
        .text{
          font-size: 12px;
          font-weight: bold;
        }

        .date{
          display: flex;
          align-items: center;
          height: 12px;
          span{
            display: block;
            font-size: 11px;
            color: rgb(184, 184, 184);
          }
          .red_dot{
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: red;
            margin-right:4px;
          }
        }
      }
   
    }
  }
}

.loading{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top:40%;
  background: rgba($color: #dddddd, $alpha: 0.5);
}