@import "@styles/_functions/icon";

.wrap{
  position: absolute;
  top:34px;
  right: 0;
  width: 150px;
  background-color: #fdfdfd;
  z-index: 12;
  border:1px solid #ddd;
  padding:10px 16px;
  border-radius: 4px;

  .nickname{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    border-bottom:1px solid #ddd;
    padding-bottom: 6px;
  }

  .my_history{
    margin-top: 14px;
    margin-bottom: 10px;

    > span{
 
      font-weight: bold;
      font-size: 16px;
    }

    .empty{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      color:#ddd;
    }
    ul{
      margin-top:5px;
      max-height: 200px;
      overflow-y: auto;
      li{
        margin-top:2px;
        border-bottom: 1px solid #ddd;
        padding: 6px 0;
        a{
          display: flex;
          flex-direction: column;
          .title{
            font-size: 16px;
            display: flex;
            align-items: center;

            i{
              display: block;
              width:16px;
              height:16px;
              background: icon(calendarMini);
              margin-right: 4px;
            }
          }
          .from_date{
            margin-top: 4px;
            font-size: 12px;
            display: flex;
            align-items: center;
            &.new{
              &::before{
                content: "";
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: red;
                margin-right:4px;
              }
            }
          }
        }
        
      }
    }
  }

  .bridge{
    display: flex;
    flex-direction: column;
    div{
      display: flex;
      padding-bottom: 4px;
      > a, button{
        font-size: 14px;
        white-space: nowrap;
        display: flex;
        align-items: center;

        &:hover{
          color:#7c25df;
        }
      }

      .mypage{
        i{
          display: block;
          width: 20px;
          height: 20px;
          background: icon(user);
          margin-right: 2px;
        }

      }
    }

    .logout{
      margin-top:6px;
      font-size: 14px;

      i{
        display: block;
        width: 16px;
        height: 16px;
        background: icon(logout);
        margin-right: 4px;
      }
      &:hover{
        color:#7c25df
      }
    }
  }


}

.loading{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top:40%;
  background: rgba($color: #dddddd, $alpha: 0.5);
}