@import "@styles/_functions/icon";

.my_profile {
  margin-top: 20px;
  position: relative;
  border-radius: 4px;
  padding: 10px 10px 40px; 
  // background: #fcf9e1;
  box-shadow: 2px 2px 6px #999;

  h2 {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding: 0 0 10px 0;
    margin-bottom: 15px;
    color: #111;

    i{
      display: block;
      width: 24px;
      height: 24px;
      background: icon(user);
      margin-right: 6px;
    }

  }
  
  div.my_nickname{
    padding:0 0 5px;
    border-bottom:1px solid #eee;
    display: flex;
    
    .nickname{
      display: flex;
      align-items: center;
      white-space: nowrap;
      .caption{
        display: flex;
        align-items: center;
        font-size: 14px;
        white-space: nowrap;
        margin-right: 10px;

        i{
          display: block;
          width: 24px;
          height: 24px;
          background: icon(usecard);
          margin-right: 6px;
        }
      }
  
      input {
        width: 100%;
        min-width: 90px;
        margin-left: 10px;
        padding: 4px;
        border:1px solid #ccc;
        font-size: 14px;
        transition: all 0.3s;
        &:focus{
          font-size: 16px;
        }
      }
      
    }

    .error_message{
      padding:4px;
      color: crimson;
    }

    .button_group{
      display: flex;

      button {
        min-width: 30px;
        font-size: 12px;
        margin-left: 2px;
        padding: 3px 8px; 
        white-space: nowrap;
        transition: 0.1s;
        border-radius: 4px;
        border:1px solid #ccc;
        &:hover{
          transform: translateY(-1px);
        }

        &.change_button{
          margin-left:10px;
        }
      }

    }

  }

  div.change_password{
    padding:10px 0 5px;
    border-bottom:1px solid #eee;

    .password{
      display: flex;
      align-items: center;
      span{
        font-size: 14px;
        white-space: nowrap;
        display: flex;
        align-items: center;

        i{
          display: block;
          width: 24px;
          height: 24px;
          background: icon(lock);
          margin-right: 6px;
        }
      }

      button {
        font-size: 12px;
        margin-left: 8px;
        padding: 3px 5px; 
        border-radius: 4px;
        border:1px solid #ccc;
        white-space: nowrap;
        transition: 0.1s;
        &:hover{
          transform: translateY(-1px);
        }
      }
 
    }
       
    .change_box{
      position: relative;
      max-width: 320px;
      margin-top: 10px;

      .box{
        max-width:200px;
        position: relative;
        margin-top:5px;
        border:1px solid #ddd;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        input {
          max-width: 200px;
          padding:10px 8px;
          margin-bottom: 4px;
          font-size: 14px;
          transition: 0.3s;

          &:focus{
            font-size: 16px;
            border-bottom:1px solid #242442
          }
        }
       
        button{
          position: absolute;
          top:50%;
          transform: translateY(-50%);
          right: 10px;
          &:focus{
            outline: 1px solid #ccc;
          }
        }
        .password_hidden{
   
          width: 16px;
          height: 16px;
          min-width: 16px;
          min-height: 16px;
          z-index: 12;
          cursor: pointer;
        }

        .password_on{
        
          width: 16px;
          height: 16px;
          min-width: 16px;
          min-height: 16px;
          cursor: pointer;
        }
      }
      
      .button_group{
        button{
          margin-top:5px;
          width: 100%;
          max-width: 200px;
          border:1px solid #ddd;
          font-size: 12px;
          font-weight: bold;
          height: 35px;
          background: linear-gradient(-180deg, rgba(255, 255, 255, 0.09) 0%, rgba(17, 17, 17, 0.04) 100%);
          // background: #000;
          // color:#fff;
          &:hover {
            background: #242442;
            color: #fff;
          }
        }
      }
    }
    .error_message{
      padding:4px;
      font-size: 12px;
      color: crimson;
    }
  }

  .my_point{
    font-size: 14px;
    margin-top:8px;
  }
}