@import "#styles/_functions/icon";

.wrap{
  padding:20px 0;

  .top{
    display: flex;
    justify-content: space-between;
    h1{
      font-size: 32px;
    }

    button{
      padding:2px;
      border-radius: 2px;
      font-size: 12px;
      transition: 0.2s;
      display: flex;
  
      align-items: center;
      line-height: 2px;
  
      i{
        display: block;
        width: 20px;
        height: 20px;
        background: icon(back);
      }
  
      &:hover{
        transform: translateX(-2px);
      }
    }
  }

  .time{
    font-size: 14px;
    margin-top:6px;
  }

  .cause{
    margin-top:30px;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 1px solid #ddd;
  }

  .route{
    margin-top:14px;
    span{
      display: block;
      margin-top:20px;
      font-size: 16px;

    }

    .pm10_box{
      margin-top:10px;
      display: flex;
      align-items: center;
      overflow-x: auto;
      img{
        width: 50%;
        max-width: 280px;
        margin:0 10px;
      }
    }

    .pm25_box{
      margin-top:10px;
      display: flex;
      align-items: center;
      overflow-x: auto;
      img{
        width: 50%;
        max-width: 280px;
        margin:0 10px;
      }
    }
  }

  .over_roll{
    margin-top:30px;
    span{
      font-size: 16px;
      font-weight: bold;
    }

    ul{
      margin-top:10px;
      display: flex;
      flex-wrap: wrap;

      li{
        margin-right:10px;
        margin-bottom: 10px;
        &::after{
          content: ',';
          font-size: 10px;
        }

        &:last-child{
          &::after{
            content: '';
          }
        }
      }
    }
  }
}